{% extends 'base.html' %}
{% block content %}
<post class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" />
    <div class="media-body">
        <div class="post-metadata">
            <a class="mr-2">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        <h2><a class="post-title">{{ object.title }}</a></h2>
        <p class="post-content">{{ object.content|linebreaks }}</p>
        <a href="javascript:history.back()" class="back-button">Back</a>
    </div>
</post>
{% endblock %}