{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create your own test</legend>
                <p style="margin-bottom: 5px; font-size: 14px;">Create your own test using below template. You can add your own questions or choose from available.
                    The questions in the test should be asked so the answer can be 1 or 2. Like:</p>
                <p style="margin-bottom: 5px; font-size: 14px;">"Which sentence describes me the most: 1. I am shy 2. I am confident."</p>
                <p style="margin-bottom: 15px; font-size: 14px;">"During conversations I feel more: 1. relaxed 2. stressed"</p>
                {{ form|crispy }}
            </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Create</button>
        </div>
    </form>
</div>
{% endblock %}